.fui-tabs.fg-theme-material {
  --fui-tabs-radius: 4px;
  --fui-tabs-border: #dddddd;
  --fui-tabs-header-bg: #f5f5f5;
  --fui-tabs-header-text: #000000;
  --fui-tabs-panel-bg: #ffffff;
  --fui-tabs-panel-text: #000000;
  --fui-tabs-tab-bg: #f5f5f5;
  --fui-tabs-tab-text: #000000;
  --fui-tabs-hover-bg: #eeeeee;
  --fui-tabs-hover-text: #404040;
  --fui-tabs-selected-bg: #ffffff;
  --fui-tabs-selected-text: #000000;
  --fui-tabs-selected-edge: #ffffff;
  --fui-tabs-selected-top-bg: #ffffff;
  --fui-tabs-selected-bottom-bg: #ffffff;
  --fui-tabs-selected-left-bg: #ffffff;
  --fui-tabs-selected-right-bg: #ffffff;
  --fui-tabs-pill-bg: #00bbee;
  --fui-tabs-pill-text: #ffffff;
  --fui-tabs-drag-indicator: #ff4411;
}

.fui-tabs.fg-theme-material .fui-tabs-close,
.fui-tabs.fg-theme-material .fui-tabs-scroll-prev,
.fui-tabs.fg-theme-material .fui-tabs-scroll-next {
  background-image: url('images/tabs_icons.png');
}
