.fui-tabs {
  --fui-tabs-radius: 4px;
  --fui-tabs-border: #dfdfdf;
  --fui-tabs-header-bg: #fafafa;
  --fui-tabs-header-text: #404040;
  --fui-tabs-panel-bg: #ffffff;
  --fui-tabs-panel-text: #404040;
  --fui-tabs-tab-bg: #fafafa;
  --fui-tabs-tab-text: #404040;
  --fui-tabs-hover-bg: #eeeeee;
  --fui-tabs-hover-text: #404040;
  --fui-tabs-selected-bg: #ffffff;
  --fui-tabs-selected-text: #404040;
  --fui-tabs-selected-edge: #ffffff;
  --fui-tabs-selected-top-bg: #ffffff;
  --fui-tabs-selected-bottom-bg: #ffffff;
  --fui-tabs-selected-left-bg: #ffffff;
  --fui-tabs-selected-right-bg: #ffffff;
  --fui-tabs-pill-bg: #eeeeee;
  --fui-tabs-pill-text: #3399cc;
  --fui-tabs-drag-indicator: #d95965;
}

.fui-tabs .fui-tabs-close,
.fui-tabs .fui-tabs-scroll-prev,
.fui-tabs .fui-tabs-scroll-next {
  background-image: url('images/tabs_icons.png');
}
