.fui-datebox-panel,
.fui-calendar {
  --fui-control-border: #95b8e7;
  --fui-control-trigger-bg: #e0ecff;
  --fui-panel-bg: #fff;
  --fui-panel-text: #000;
  --fui-calendar-header-text: #000;
  --fui-calendar-week-bg: #f4f4f4;
  --fui-calendar-week-text: #4d4d4d;
  --fui-control-hover: #eaf2ff;
  --fui-control-hover-text: #000;
  --fui-control-hover-border: #b7d2ff;
  --fui-control-selected: #ffe48d;
  --fui-control-selected-text: #000;
  --fui-control-selected-border: #ffab3f;
  --fui-datebox-footer-bg: #e0ecff;
  --fui-datebox-footer-text: #444;
  --fui-control-icon: #555;
}
