.icon-pill {
  background:url('images/pill.png') no-repeat center center;
}
.icon-product {
  background:url('images/product.png') no-repeat center center;
}
.icon-mobile {
  background:url('images/mobile.png') no-repeat center center;
}

.icon-cart-add32 {
  background:url('images/cart-add32.png') no-repeat center center;
}
.icon-buy32 {
  background:url('images/buy32.png') no-repeat center center;
}
.icon-send32 {
  background:url('images/send32.png') no-repeat center center;
}
.icon-order32 {
  background:url('images/order32.png') no-repeat center center;
}
.icon-pin32 {
  background:url('images/pin32.png') no-repeat center center;
}
/* Jimmy Add */
.icon-forward{
  background:url('images/forward.png') no-repeat center center;
}
.icon-copy{
  background:url('images/copy.png') no-repeat center center;
}
.icon-delete{
  background:url('images/delete.png') no-repeat center center;
}
.icon-delete-black{
  background:url('images/delete-black.png') no-repeat center center;
}
.icon-split{
  background:url('images/split.png') no-repeat center center;
}
.icon-exit{
  background:url('images/exit.png') no-repeat center center;
}
.icon-first{
  background:url('images/first.png') no-repeat center center;
}
.icon-prev{
  background:url('images/prev.png') no-repeat center center;
}
.icon-next{
  background:url('images/next.png') no-repeat center center;
}
.icon-last{
  background:url('images/last.png') no-repeat center center;
}
.icon-home{
  background:url('images/home.png') no-repeat center center;
}
.icon-home-f{
  background:url('images/home-f.png') no-repeat center center;
}
.icon-database{
  background:url('images/database.png') no-repeat center center;
}
.icon-table{
  background:url('images/table.png') no-repeat center center;
}
.icon-field{
  background:url('images/field.png') no-repeat center center;
}
.icon-form{
  background:url('images/form.png') no-repeat center center;
}
.icon-group{
  background:url('images/group.png') no-repeat center center;
}
.icon-lock{
  background:url('images/lock.png') no-repeat center center;
}
.icon-unlock{
  background:url('images/unlock.png') no-repeat center center;
}
.icon-qrcode{
  background:url('images/qrcode.png') no-repeat center center;
}
.icon-link{
  background:url('images/link16.png') no-repeat center center;
}
.icon-url{
  background:url('images/url.png') no-repeat center center;
}
.icon-test{
  background:url('images/test.png') no-repeat center center;
}
.icon-clear32{
  background:url('images/clear32.png') no-repeat center center;
}
.icon-clipboard{
  background:url('images/clipboard.png') no-repeat center center;
}
.icon-eye{
  background:url('images/eye.png') no-repeat center center;
}
.icon-q{
  background:url('images/q.png') no-repeat center center;
}
.icon-error{
  background:url('images/error16.png') no-repeat center center;
}
.icon-warning{
  background:url('images/warning16.png') no-repeat center center;
}
.icon-notice{
  background:url('images/notice16.png') no-repeat center center;
}
.icon-success{
  background:url('images/success16.png') no-repeat center center;
}
.icon-logout{
  background:url('images/logout.png') no-repeat center center;
}
.icon-report{
  background:url('images/report.png') no-repeat center center;
}
.icon-report32{
  background:url('images/report32.png') no-repeat center center;
}
.icon-pdf{
  background:url('images/pdf.png') no-repeat center center;
}
.icon-task{
  background:url('images/task.png') no-repeat center center;
}
.icon-jl{
  background:url('images/jl.png') no-repeat center center;
}
.icon-blue{
  background:url('images/blue.png') no-repeat center center;
}
.icon-green{
  background:url('images/green.png') no-repeat center center;
}
.icon-orange{
  background:url('images/orange.png') no-repeat center center;
}
.icon-red{
  background:url('images/red.png') no-repeat center center;
}
.icon-yellow{
  background:url('images/yellow.png') no-repeat center center;
}
.icon-gray{
  background:url('images/gray.png') no-repeat center center;
}
.icon-silver{
  background:url('images/silver.png') no-repeat center center;
}
.icon-info{
  background:url('images/info.png') no-repeat center center;
}
.icon-favorite{
  background:url('images/favorite.png') no-repeat center center;
}
.icon-favorite-gray{
  background:url('images/favorite16-gray.png') no-repeat center center;
}
.icon-add-favorite{
  background:url('images/add-favorite16.png') no-repeat center center;
}
.icon-blank{
  background:url('images/blank.png') no-repeat center center;
}
.icon-popwin{
  background:url('images/popwin.png') no-repeat center center;
}
.icon-void{
  background:url('images/void.png') no-repeat center center;
}
.icon-caculate{
  background:url('images/caculate.png') no-repeat center center;
}
.icon-import{
  background:url('images/import.png') no-repeat center center;
}
.icon-dropdown{
  background:url('images/dropdown.png') no-repeat center center;
}
.icon-clock{
  background:url('images/clock.png') no-repeat center center;
}
.icon-text-editor{
  background:url('images/text-editor.png') no-repeat center center;
}
.icon-theme{
  background:url('images/theme.png') no-repeat center center;
}
.icon-theme32{
  background:url('images/theme32.png') no-repeat center center;
}
.icon-export-all{
  background:url('images/export-all.png') no-repeat center center;
}
.icon-sql{
  background:url('images/sql.png') no-repeat center center;
}
.icon-closed{
  background:url('images/closed.png') no-repeat center center;
}
.icon-closed2{
  background:url('images/closed2.png') no-repeat center center;
}
.icon-design{
  background:url('images/design.png') no-repeat center center;
}
.icon-add-form{
  background:url('images/add-form.png') no-repeat center center;
}
.icon-tree{
  background:url('images/tree.png') no-repeat center center;
}
.icon-tree-b{
  background:url('images/tree-b.png') no-repeat center center;
}
.icon-check-k{
  background:url('images/check-k.png') no-repeat center center;
}
.icon-check-r{
  background:url('images/check-r.png') no-repeat center center;
}
.icon-waiting {
  background:url('images/waiting.png') no-repeat center center;
}
.icon-windows {
  background:url('images/windows.png') no-repeat center center;
}
.icon-scale{
  background:url('images/scale.png') no-repeat center center;
}
.icon-arrow-r{
  background:url('images/arrow-r.png') no-repeat center center;
}
.icon-arrow-l{
  background:url('images/arrow-l.png') no-repeat center center;
}
.icon-drill-down{
  background:url('images/drill-down.png') no-repeat center center;
}
.icon-drill-down-refwin{
  background:url('images/drill-down-refwin.png') no-repeat center center;
}
.icon-query{
  background:url('images/query.png') no-repeat center center;
}
.icon-refresh{
  background:url('images/refresh.png') no-repeat center center;
}
.icon-color{
  background:url('images/color.png') no-repeat center center;
}
.icon-calendar{
  background:url('images/calendar.png') no-repeat center center;
}
.icon-goto{
  background:url('images/goto.png') no-repeat center center;
}
.icon-stop{
  background:url('images/stop.png') no-repeat center center;
}
.icon-tools{
  background:url('images/tools.png') no-repeat center center;
}
.icon-debug{
  background:url('images/debug.png') no-repeat center center;
}
.icon-calculator{
  background:url('images/calculator.png') no-repeat center center;
}
.icon-js{
  background:url('images/js.png') no-repeat center center;
}
.icon-reset{
  background:url('images/reset.png') no-repeat center center;
}
.icon-upload{
  background:url('images/upload.png') no-repeat center center;
}
.icon-paste{
  background:url('images/paste.png') no-repeat center center;
}
.icon-hccard{
  background:url('images/hccard.png') no-repeat center center;
}
.icon-dialog{
  background:url('images/dialog.png') no-repeat center center;
}
.icon-image {
  background:url('images/image.png') no-repeat center center;
}
.icon-images {
  background:url('images/images.png') no-repeat center center;
}
.icon-images-k {
  background:url('images/images_k.png') no-repeat center center;
}
.icon-memo {
  background:url('images/memo16.png') no-repeat center center;
}
.icon-memo-k {
  background:url('images/memo16-k.png') no-repeat center center;
}
.icon-sort{
  background:url('images/sort.png') no-repeat center center;
}
.icon-folder{
  background:url('images/flat-folder.png') no-repeat center center;
}
.icon-xml{
  background:url('images/xml.png') no-repeat center center;
}
.icon-empty{
  background:url('images/empty.png') no-repeat center center;
}
.icon-trash{
  background:url('images/trash.png') no-repeat center center;
}
.icon-txt{
  background:url('images/txt.png') no-repeat center center;
}
.icon-key{
  background:url('images/key.png') no-repeat center center;
}
.icon-interact{
  background:url('images/interact.png') no-repeat center center;
}
.icon-transfer{
  background:url('images/transfer.png') no-repeat center center;
}
.icon-dictionary{
  background:url('images/dictionary.png') no-repeat center center;
}
.icon-user{
  background:url('images/user.png') no-repeat center center;
}
.icon-user-group{
  background:url('images/user-group.png') no-repeat center center;
}
.icon-wizard{
  background:url('images/wizard.png') no-repeat center center;
}
.icon-measure{
  background:url('images/measure.png') no-repeat center center;
}
.icon-editor-f{
  background:url('images/editor-f.png') no-repeat center center;
}
.icon-popwin-f{
  background:url('images/popwin-f.png') no-repeat center center;
}
.icon-win{
  background:url('images/win.png') no-repeat center center;
}
.icon-menu-m{
  background:url('images/menu-m.png') no-repeat center center;
}
.icon-menu-b{
  background:url('images/menu-b.png') no-repeat center center;
}
.icon-zoom{
  background:url('images/zoom.png') no-repeat center center;
}
.icon-refresh24{
  background:url('images/refresh24.png') no-repeat center center;
}
.icon-prev24{
  background:url('images/prev24.png') no-repeat center center;
}
.icon-next24{
  background:url('images/next24.png') no-repeat center center;
}
.icon-prev32{
  background:url('images/prev32.png') no-repeat center center;
}
.icon-next32{
  background:url('images/next32.png') no-repeat center center;
}
.icon-present{
  background:url('images/present.png') no-repeat center center;
}
.icon-en-flag{
  background:url('images/en_flag.png') no-repeat center center;
}
.icon-cn-flag{
  background:url('images/cn_flag.png') no-repeat center center;
}
.icon-tw-flag{
  background:url('images/tw_flag.png') no-repeat center center;
}
.icon-jp-flag{
  background:url('images/jp_flag.png') no-repeat center center;
}
.icon-lang{
  background:url('images/lang.png') no-repeat center center;
}
.icon-reload{
  background:url('images/reload2.png') no-repeat center center;
}
.icon-billing{
  background:url('images/billing.png') no-repeat center center;
}
.icon-switch{
  background:url('images/switch.png') no-repeat center center;
}
.icon-email{
  background:url('images/email.png') no-repeat center center;
}
.icon-webcam{
  background:url('images/webcam.png') no-repeat center center;
}
.icon-files{
  background:url('images/files.png') no-repeat center center;
}
.icon-select{
  background:url('images/select.png') no-repeat center center;
}
.icon-edit-plus {
  background:url('images/edit_add.png') no-repeat center center;
}
.icon-power-on {
  background:url('images/power_on.png') no-repeat center center;
}
.icon-power-off {
  background:url('images/power_off.png') no-repeat center center;
}
.icon-doc{
  background:url('images/document.png') no-repeat center center;
}
.icon-play {
  background:url('images/play.png') no-repeat center center;
}
.icon-filter {
  background:url('images/filter.png') no-repeat center center;
}
.icon-preview {
  background:url('images/preview.png') no-repeat center center;
}
.icon-json {
  background:url('images/json.png') no-repeat center center;
}
.icon-font {
  background:url('images/font.png') no-repeat center center;
}
.icon-comment {
  background:url('images/comment.png') no-repeat center center;
}
.icon-plus {
  background:url('images/plus.png') no-repeat center center;
}
.icon-minus {
  background:url('images/minus.png') no-repeat center center;
}
.icon-speaker {
  background:url('images/speaker.png') no-repeat center center;
}
.icon-read {
  background:url('images/read.png') no-repeat center center;
}
.icon-checkno {
  background:url('images/checkno.png') no-repeat center center;
}
.icon-signature {
  background:url('images/signature.png') no-repeat center center;
}
.icon-dashboard {
  background:url('images/dashboard.png') no-repeat center center;
}
.icon-dashboard32 {
  background:url('images/dashboard32.png') no-repeat center center;
}
.icon-chart {
  background:url('images/chart.png') no-repeat center center;
}
.icon-handle {
  background:url('images/handle.png') no-repeat center center;
}
.icon-todo {
  background:url('images/todo16.png') no-repeat center center;
}
.icon-todo32 {
  background:url('images/todo32.png') no-repeat center center;
}
.icon-form32 {
  background:url('images/form32.png') no-repeat center center;
}
.icon-application32 {
  background:url('images/application32.png') no-repeat center center;
}
.icon-use {
  background:url('images/use.png') no-repeat center center;
}
.icon-download {
  background:url('images/download16.png') no-repeat center center;
}
.icon-earth {
  background:url('images/earth.png') no-repeat center center;
}
.icon-collapse{
  background:url('images/collapse.png') no-repeat center center;
}
.icon-history {
  background:url('images/history.png') no-repeat center center;
}
.icon-history32 {
  background:url('images/history32.png') no-repeat center center;
}
.icon-save-g {
  background:url('images/save-g.png') no-repeat center center;
}
.icon-spreadsheet {
  background:url('images/spreadsheet.png') no-repeat center center;
}
.icon-2arrow12 {
  background:url('images/2arrow12.png') no-repeat center center;
}
.icon-gear {
  background:url('images/gear.png') no-repeat center center;
}
.icon-fullscreen {
  background:url('images/fullscreen.png') no-repeat center center;
}
.icon-and {
  background:url('images/and.png') no-repeat center center;
}
.icon-or {
  background:url('images/or.png') no-repeat center center;
}
