.fui-tabs {
  --fui-tabs-border: #494437;
  --fui-tabs-header-bg: #817865;
  --fui-tabs-header-text: #ffffff;
  --fui-tabs-panel-bg: #feeebd;
  --fui-tabs-panel-text: #383838;
  --fui-tabs-tab-bg: linear-gradient(to bottom, #a69e8d 0, #817865 100%);
  --fui-tabs-tab-text: #ffffff;
  --fui-tabs-hover-bg: #ffdd57;
  --fui-tabs-hover-text: #000000;
  --fui-tabs-selected-bg: #feeebd;
  --fui-tabs-selected-text: #ffffff;
  --fui-tabs-selected-edge: #feeebd;
  --fui-tabs-selected-top-bg: linear-gradient(to bottom, #a69e8d 0, #feeebd 100%);
  --fui-tabs-selected-bottom-bg: linear-gradient(to top, #a69e8d 0, #feeebd 100%);
  --fui-tabs-selected-left-bg: linear-gradient(to right, #a69e8d 0, #feeebd 100%);
  --fui-tabs-selected-right-bg: linear-gradient(to left, #a69e8d 0, #feeebd 100%);
  --fui-tabs-pill-bg: #ffffff;
  --fui-tabs-pill-text: #0074c7;
  --fui-tabs-drag-indicator: #3154c7;
}

.fui-tabs .fui-tabs-close,
.fui-tabs .fui-tabs-scroll-prev,
.fui-tabs .fui-tabs-scroll-next {
  background-image: url('images/tabs_icons.png');
}
