.fui-tabs {
  --fui-tabs-border: #cbc7bd;
  --fui-tabs-header-bg: #f8f7f6;
  --fui-tabs-header-text: #654b24;
  --fui-tabs-panel-bg: #eceadf;
  --fui-tabs-panel-text: #654b24;
  --fui-tabs-tab-bg: #f8f7f6;
  --fui-tabs-tab-text: #654b24;
  --fui-tabs-hover-bg: #654b24;
  --fui-tabs-hover-text: #ffffff;
  --fui-tabs-selected-bg: #eceadf;
  --fui-tabs-selected-text: #654b24;
  --fui-tabs-selected-edge: #eceadf;
  --fui-tabs-selected-top-bg: #eceadf;
  --fui-tabs-selected-bottom-bg: #eceadf;
  --fui-tabs-selected-left-bg: #eceadf;
  --fui-tabs-selected-right-bg: #eceadf;
  --fui-tabs-pill-bg: #b83400;
  --fui-tabs-pill-text: #ffffff;
  --fui-tabs-drag-indicator: #5f8fc7;
}

.fui-tabs .fui-tabs-close,
.fui-tabs .fui-tabs-scroll-prev,
.fui-tabs .fui-tabs-scroll-next {
  background-image: url('images/tabs_icons.png');
}
